/* Colors */

.my-color-primary {
    color: #15caaa;
  }
  .my-back-primary {
    background-color: #15caaa;
  }
  .my-color-link {
    color: #2c68d2;
  }
  .my-back-link {
    background-color: #2c68d2;
  }
  .my-color-info {
    color: #2e8dd3;
  }
  .my-back-info {
    background-color: #2e8dd3;
  }
  .my-color-success {
    color: #42bf6e;
  }
  .my-back-success {
    background-color: #42bf6e;
  }
  .my-color-warning {
    color: #ffd85b;
  }
  .my-back-warning {
    background-color: #ffd85b;
  }
  .my-color-danger {
    color: #ee3f5e;
  }
  .my-back-danger {
    background-color: #ee3f5e;
  }
  
  .my-color-primary-light {
    color: #e8fffc;
  }
  .my-back-primary-light {
    background-color: #e8fffc;
  }
  .my-color-link-light {
    color: #ebf1fb;
  }
  .my-back-link-light {
    background-color: #ebf1fb;
  }
  .my-color-info-light {
    color: #ebf5fb;
  }
  .my-back-info-light {
    background-color: #ebf5fb;
  }
  .my-color-success-light {
    color: #edf9f1;
  }
  .my-back-success-light {
    background-color: #edf9f1;
  }
  .my-color-warning-light {
    color: #fffae9;
  }
  .my-back-warning-light {
    background-color: #fffae9;
  }
  .my-color-danger-light {
    color: #fee9ee;
  }
  .my-back-danger-light {
    background-color: #fee9ee;
  }
  
  /* Form CSS */
  
  * {
    font-family: Helvetica, sans-serif, "Font Awesome 5 Free";
  }
  
  .position {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
  }
  
  .page {
    width: 350px;
    min-height: 120px;
    border-radius: 15px;
    margin-top: 10px ;
  }
  
  .border {
    border-radius: 15px;
  }
  
  .font-header {
    font-size: 1.5rem;
  }
  
  .my-btn {
    cursor: pointer;
    border: 1px solid;
    padding: 3px 6px;
    border-radius: 16px;
    background-color: transparent;
    font-size: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
  
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  
  .notification-animation-in {
      animation: addNotification 0.4s ease-in;
      animation-fill-mode: forwards;
    }
    
    .notification-animation-out {
      animation: removeNotification 0.4s ease-in-out;
      animation-fill-mode: forwards;
    }
    
   
    @keyframes addNotification {
      0% {
        right: -100%;
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        right: 0%;
        opacity: 1;
      }
    }
    
    @keyframes removeNotification {
      0% {
        right: 0%;
        opacity: 1;
      }
      50% {
      }
      100% {
        right: -100%;
        opacity: 0;
      }
    }
    
  
  
    /* Loader */
    .loader {
      border: 3px solid #d3d3d3;
      border-radius: 50%;
      border-top: 3px solid #ffd85b;
      width: 20px;
      height: 20px;
      -webkit-animation: spin 1s linear infinite; /* Safari */
      animation: spin 1s linear infinite;
      display: inline-block;
    }
    
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }