
<div class="position">
    <div *ngFor="let mess of messages" [ngClass]="mess.sClass">
        <div class="page shadow"  [ngStyle]="{'background-color': mess.alertColor.bgColor, 'color':mess.alertColor.color}">
            <div *ngIf="mess.imgSrc" style="border-radius: 15px;">
                <img [src]="mess.imgSrc" style="object-fit:cover;" height="200px" width="350px"/>
            </div>
            <div style="position: relative; padding: 10px;">
                <div>
                    <i *ngIf="!mess.isLoading;" class="fas fa-check-circle font-header"></i>
                    <div *ngIf="mess.isLoading;" class="loader"></div>
                    <span class="font-header" style="margin-left: 10px;">{{mess.header}}</span>
                </div>
               <div style="margin-top: 5px;">
                {{mess.message}}
               </div>
                <div style="position: absolute; top: 0; right: 0; margin: 10px; background-color: transparent;">
                    <button class="my-btn" [ngStyle]="{'color': mess.alertColor.color}" (click)="removeNotification(mess)"><i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
            
        </div>
    </div>
    
</div>

