<div *ngIf="showBox" class="position-all "
    [ngClass]="[showAlert?'main-banner-animation-in':'main-banner-animation-out']">
    <div class="background-shadow" (click)="closeWindow()">

    </div>
    <div class="message-view shadow" [ngClass]="[showAlert?'alert-animation-in':'alert-animation-out']">
        <div style="text-align: center;">
            <strong style="font-size: 25px;">{{alert.header}}</strong>
        </div>
        <div style="text-align: center;">
            <span>{{alert.message}}</span>
        </div>
        <div style="text-align: center; margin: 10px 0px;">

            <button class="my-btn" style="margin: 0px 10px;" [ngClass]="[item.type]" *ngFor="let item of alert.button"
                (click)="selectedOption(item)">{{item.name}}</button>

        </div>
    </div>

</div>