/* Colors */

.my-color-primary {
    color: #15caaa;
  }
  .my-back-primary {
    background-color: #15caaa;
  }
  .my-color-link {
    color: #2c68d2;
  }
  .my-back-link {
    background-color: #2c68d2;
  }
  .my-color-info {
    color: #2e8dd3;
  }
  .my-back-info {
    background-color: #2e8dd3;
  }
  .my-color-success {
    color: #42bf6e;
  }
  .my-back-success {
    background-color: #42bf6e;
  }
  .my-color-warning {
    color: #ffd85b;
  }
  .my-back-warning {
    background-color: #ffd85b;
  }
  .my-color-danger {
    color: #ee3f5e;
  }
  .my-back-danger {
    background-color: #ee3f5e;
  }
  
  .my-color-primary-light {
    color: #e8fffc;
  }
  .my-back-primary-light {
    background-color: #e8fffc;
  }
  .my-color-link-light {
    color: #ebf1fb;
  }
  .my-back-link-light {
    background-color: #ebf1fb;
  }
  .my-color-info-light {
    color: #ebf5fb;
  }
  .my-back-info-light {
    background-color: #ebf5fb;
  }
  .my-color-success-light {
    color: #edf9f1;
  }
  .my-back-success-light {
    background-color: #edf9f1;
  }
  .my-color-warning-light {
    color: #fffae9;
  }
  .my-back-warning-light {
    background-color: #fffae9;
  }
  .my-color-danger-light {
    color: #fee9ee;
  }
  .my-back-danger-light {
    background-color: #fee9ee;
  }
  
  * {
    font-family: Helvetica, sans-serif, "Font Awesome 5 Free";
  }
  
  .position-all {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: grid;
    padding: 0px;
    margin: 0;
  }
  
  .message-view {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
  }
  .background-shadow {
    background-color: black;
    opacity: 0.4;
  }
  
  .alert-animation-in {
    animation: alert-in 0.5s ease-in;
    animation-fill-mode: forwards;
  }
  
  .alert-animation-out {
    animation: alert-out 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  .main-banner-animation-in {
    animation: main-banner-in 0.5s ease-in;
    animation-fill-mode: forwards;
  }
  .main-banner-animation-out {
    animation: main-banner-out 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes alert-in {
    0% {
      bottom: -50%;
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      bottom: 0;
      opacity: 1;
    }
  }
  
  @keyframes alert-out {
    0% {
      bottom: 0;
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      bottom: -50%;
      opacity: 0;
    }
  }
  
  @keyframes main-banner-in {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes main-banner-out {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
  
  .my-btn {
    cursor: pointer;
    border: 1px solid;
    padding: 3px 6px;
    min-width: 100px;
    height: 30px;
    background-color: transparent;
    font-size: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
  
  
  .shadow {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    